{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cyber Vanguard Club - Contact Us</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <script src="{% static 'js/script.js' %}"></script>
</head>

<body>
  <header>
    <div class="header-logo">
      <h1>Cyber Vanguard</h1>
    </div>
    <nav class="navbar">
      <a href="{% url 'index' %}">Home</a>
      <a href="{% url 'about' %}">About Us</a>
      <a href="{% url 'join' %}">Join Us</a>
      <a href="{% url 'events' %}">Events</a>
      <a href="{% url 'contact' %}">Contact Us</a>
    </nav>
    <div class="menu-icon" onclick="toggleMenu()">☰</div>
  </header>

  <section class="section" id="thank-you">
    <h2>Thank you for your message!</h2>
    <p>We appreciate your feedback and will get back to you shortly.</p>
  </section>

  <footer>
    <p>&copy; 2024 Cyber Vanguard Club. All rights reserved.</p>
  </footer>
</body>

</html>
